Repository ItCanCode/PrimeScore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      default:
        target: 0%

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      default:
        target: 70%

flags:
  backend:
    paths:
      - backend/

add things in the .env
  frontend/src/Pages/MattchOdds.jsx
Due: frontend

updated documentation adding the display api link
  docs/index.html
Due: none

add things in the .env
  frontend/src/Pages/MattchOdds.jsx
  frontend/src/Styles/MatchOdds.css
Due: frontend

modified live matches
  backend/coverage/lcov-report/base.css
  backend/coverage/lcov-report/block-navigation.js
  backend/coverage/lcov-report/config/cloudinary.js.html
  backend/coverage/lcov-report/config/index.html
  backend/coverage/lcov-report/controllers/adminController.js.html
  backend/coverage/lcov-report/controllers/authController.js.html
  backend/coverage/lcov-report/controllers/displayController.js.html
  backend/coverage/lcov-report/controllers/feedController.js.html
  backend/coverage/lcov-report/controllers/index.html
  backend/coverage/lcov-report/controllers/managerController.js.html
  backend/coverage/lcov-report/controllers/matchClockController.js.html
  backend/coverage/lcov-report/controllers/matchController.js.html
  backend/coverage/lcov-report/controllers/newsController.js.html
  backend/coverage/lcov-report/controllers/rugbyLiveController.js.html
  backend/coverage/lcov-report/controllers/soccerController.js.html
  backend/coverage/lcov-report/controllers/userController.js.html
  backend/coverage/lcov-report/controllers/youtubeController.js.html
  backend/coverage/lcov-report/favicon.png
  backend/coverage/lcov-report/index.html
  backend/coverage/lcov-report/middleware/adminMiddleware.js.html
  backend/coverage/lcov-report/middleware/authMiddleware.js.html
  backend/coverage/lcov-report/middleware/cors.js.html
  backend/coverage/lcov-report/middleware/index.html
  backend/coverage/lcov-report/prettify.css
  backend/coverage/lcov-report/prettify.js
  backend/coverage/lcov-report/routes/index.html
  backend/coverage/lcov-report/routes/matchClockRoutes.js.html
  backend/coverage/lcov-report/services/authService.js.html
  backend/coverage/lcov-report/services/index.html
  backend/coverage/lcov-report/sort-arrow-sprite.png
  backend/coverage/lcov-report/sorter.js
  backend/coverage/lcov.info
  backend/junit.xml
  frontend/src/Pages/LiveeMatches.jsx
Due: backend, frontend

added unseen design to match odds
  frontend/src/Pages/HomePage.jsx
  frontend/src/Pages/MattchOdds.jsx
Due: frontend

added dark background to the match cards
  frontend/src/Pages/MattchOdds.jsx
  frontend/src/Styles/MatchOdds.css
Due: frontend

fixing match odds designs
  frontend/src/Pages/MattchOdds.jsx
  frontend/src/Styles/MatchOdds.css
Due: frontend

fixing match odds design
  frontend/src/Pages/MattchOdds.jsx
Due: frontend

remove textboxes on signup or login
  frontend/src/Components/LoginModal.jsx
  frontend/src/Components/SignupModal.jsx
  frontend/src/Pages/HomePage.jsx
Due: frontend

protect the routes
  frontend/src/App.jsx
  frontend/src/Pages/ProtectedRoute.jsx
Due: frontend

removed unnecessary buttons
  frontend/src/Components/News.jsx
  frontend/src/Pages/SportsSelector.jsx
  frontend/src/Styles/News.css
Due: frontend

protect the route with authContext
  frontend/src/Pages/ProtectedRoute.jsx
  frontend/src/context/authContext.jsx
Due: frontend

added soccer test
  backend/tests/soccerController.test.js
Due: backend

added youtube test
  backend/tests/youtubeController.test.js
Due: backend

added rugbyLive test
  backend/tests/rugbyLiveController.test.js
Due: backend

added news test
  backend/tests/newsController.test.js
Due: backend

added admin test
  backend/tests/adminController.test.js
Due: backend

display test
  backend/tests/display.test.js
Due: backend

manager test
  backend/tests/managerController.test.js
Due: backend

user controller
  backend/tests/userController.test.js
Due: backend

fixing ongoing matches css
  frontend/src/Styles/MatchOdds.css
Due: frontend

removed redundancy on the news , adjusted primeshots mobile design, styled the logout confimation design
  frontend/src/Components/LoginModal.jsx
  frontend/src/Components/News.jsx
  frontend/src/Components/SignupModal.jsx
  frontend/src/Components/YouTubeShorts.jsx
  frontend/src/Pages/HomePage.jsx
  frontend/src/Styles/MatchAdminInterface.css
  frontend/src/Styles/PrimeShots.css
Due: frontend

removed all unnecessary hyperlinks on the welcome page
  frontend/src/Pages/WelcomePage.jsx
Due: frontend

Add protection to the pages
  frontend/src/App.jsx
  frontend/src/context/ProtectedRoute.jsx
Due: frontend

remove facebook login
  frontend/src/Components/SignupModal.jsx
Due: frontend

Add protection to the pages
  frontend/src/context/authContext.jsx
Due: frontend

remove netball
  frontend/src/services/sportService.js
Due: frontend

remove netball
  frontend/tests/sportService.test.js
Due: frontend

Fix Navigation bar
  frontend/src/App.jsx
  frontend/src/Components/YouTubeShorts.jsx
  frontend/src/Layout/MainLayout.jsx
  frontend/src/Pages/HomePage.jsx
  frontend/src/Pages/SportsSelector.jsx
Due: frontend

Mobile Responsiveness
  frontend/src/App.jsx
  frontend/src/Components/News.jsx
  frontend/src/Layout/MainLayout.jsx
  frontend/src/Styles/Home.css
  frontend/src/Styles/NavBar.css
  frontend/src/Styles/News.css
Due: frontend

Fix Youtube shorts
  frontend/src/Components/YouTubeShorts.jsx
Due: frontend

testing the new news api key
  backend/src/controllers/newsController.js
Due: backend

auth context
  frontend/src/context/authContext.jsx
Due: frontend

Add protection to the pages
  frontend/src/App.jsx
  frontend/src/Pages/PastMatch.jsx
  frontend/src/Pages/WelcomePage.jsx
Due: frontend

remove none matches
  frontend/src/Pages/WelcomePage.jsx
Due: frontend

added caching of news articles and resetting of the match-clock to zero
  backend/src/controllers/adminController.js
  frontend/src/Components/MatchClock.jsx
  frontend/src/Components/News.jsx
Due: backend, frontend

further added to match clock button to reflect start or resume for clear ui
  frontend/src/Components/MatchClock.jsx
Due: frontend

fixed the slight issue on admin controller
  backend/tests/adminController.test.js
Due: backend
