Repository ItCanCode/PrimeScore: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

UPDATE DOCUMENTATION
  docs/index.html
Due: none

docs: enhance documentation for database schema, components, and git workflow
  docs/index.html
Due: none

chore: remove generated coverage files from version control
  backend/coverage/lcov-report/base.css
  backend/coverage/lcov-report/block-navigation.js
  backend/coverage/lcov-report/config/cloudinary.js.html
  backend/coverage/lcov-report/config/index.html
  backend/coverage/lcov-report/controllers/adminController.js.html
  backend/coverage/lcov-report/controllers/authController.js.html
  backend/coverage/lcov-report/controllers/displayController.js.html
  backend/coverage/lcov-report/controllers/feedController.js.html
  backend/coverage/lcov-report/controllers/index.html
  backend/coverage/lcov-report/controllers/managerController.js.html
  backend/coverage/lcov-report/controllers/matchController.js.html
  backend/coverage/lcov-report/controllers/rugbyLiveController.js.html
  backend/coverage/lcov-report/controllers/userController.js.html
  backend/coverage/lcov-report/favicon.png
  backend/coverage/lcov-report/index.html
  backend/coverage/lcov-report/middleware/adminMiddleware.js.html
  backend/coverage/lcov-report/middleware/authMiddleware.js.html
  backend/coverage/lcov-report/middleware/cors.js.html
  backend/coverage/lcov-report/middleware/index.html
  backend/coverage/lcov-report/prettify.css
  backend/coverage/lcov-report/prettify.js
  backend/coverage/lcov-report/services/authService.js.html
  backend/coverage/lcov-report/services/index.html
  backend/coverage/lcov-report/sort-arrow-sprite.png
  backend/coverage/lcov-report/sorter.js
  backend/coverage/lcov.info
Due: backend

Update README.md (Codecov Badge)
  README.md
Due: none

Update documentation
  docs/index.html
  docs/performance.png
Due: none

updated api documentation
  docs/index.html
Due: none

security info document
  docs/index.html
Due: none

Fix use_cases
  docs/PrimeScore(use_cases)_sprint_2.png
Due: none

feat: Complete match clock integration with database migration
  backend/package.json
  backend/src/controllers/matchClockController.js
  backend/src/routes/matchClockRoutes.js
  docs/index.html
  frontend/src/Components/MatchClock.jsx
Due: backend, frontend

Fix match clock timing issues: prevent negative time and improve sync
  backend/src/controllers/matchClockController.js
  frontend/src/Components/MatchClock.jsx
Due: backend, frontend

changed naming of rugby fixtures collection
  backend/src/controllers/rugbyLiveController.js
Due: backend

fix user profile save button bug
  frontend/src/Components/ProfileCard.jsx
Due: frontend

added useEffect in profileCard
  frontend/src/Components/ProfileCard.jsx
Due: frontend

modified profileCard test to match updated version
  frontend/tests/ProfileCard.test.js
Due: frontend

remove console.logs() from profileCard
  frontend/src/Components/ProfileCard.jsx
Due: frontend

feat: Add comprehensive news dashboard with auto-refresh and filtering
  backend/junit.xml
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/src/controllers/newsController.js
  backend/src/routes/newsRoutes.js
  frontend/junit.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/News.jsx
  frontend/src/Pages/HomePage.jsx
  frontend/src/Styles/Home.css
Due: backend, frontend

feat: Add Rate Us button on welcome page
  frontend/src/Pages/WelcomePage.jsx
  frontend/src/Styles/WelcomePage.css
Due: frontend

Primeshots and news has been fixed
  backend/server.js
  backend/src/controllers/youtubeController.js
  backend/src/routes/youtubeRoutes.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/Components/Navbar.jsx
  frontend/src/Components/News.jsx
  frontend/src/Components/PrimeShots.css
  frontend/src/Components/SecurityMeta.jsx
  frontend/src/Components/YouTubeShorts.jsx
  frontend/src/Pages/HomePage.jsx
  frontend/src/Styles/PrimeShots.css
Due: backend, frontend

using cached data for youtube
  frontend/src/Components/News.jsx
  frontend/src/Components/YouTubeShorts.jsx
Due: frontend

removed the frontend api display message
  frontend/src/Components/News.jsx
Due: frontend

updated the news and primeshots
  backend/src/controllers/newsController.js
  backend/src/controllers/youtubeController.js
  frontend/src/Components/News.jsx
  frontend/src/Components/YouTubeShorts.jsx
  frontend/src/Styles/News.css
  frontend/src/Styles/PrimeShots.css
Due: backend, frontend

fixing the external api keys functionality
  backend/src/config/apiConfig.js
  backend/src/controllers/newsController.js
  backend/src/controllers/youtubeController.js
Due: backend

Revert "Merge pull request #109 from ItCanCode/feature/match-clock-integration"
  backend/src/config/apiConfig.js
  backend/src/controllers/newsController.js
  backend/src/controllers/youtubeController.js
Due: backend

Add API keys to Azure Web App deployment
  .github/workflows/main_prime-backend.yml
Due: none

fixing api implementation on the frontend
  frontend/src/Components/News.jsx
  frontend/src/Components/YouTubeShorts.jsx
Due: frontend

add new collaraborators in the allowed origins for cors issue
  audit.json
  backend/src/middleware/cors.js
  docs/security.html
  scan_compromised.py
Due: backend

incoporating another group api
  frontend/src/App.jsx
  frontend/src/Components/Navbar.jsx
  frontend/src/Pages/HomePage.jsx
  frontend/src/Pages/MatchOdds.jsx
Due: frontend

incoporating another group api
  frontend/src/App.jsx
  frontend/src/Pages/MattchOdds.jsx
Due: frontend

added soccerController.js
  frontend/src/Pages/PastMatch.jsx
Due: frontend

incoporating another group api
  frontend/src/App.jsx
Due: frontend

added soccerRoute.js
  backend/src/routes/soccerRoutes.js
Due: backend

modified contorller.js
  backend/src/controllers/soccerController.js
Due: backend

modified server.js
  backend/server.js
Due: backend

incoporating another group api
  frontend/src/Pages/SportsSelector.jsx
  frontend/src/Pages/WelcomePage.jsx
Due: frontend

added agile sprint documentation
  docs/index.html
Due: none

add things in the .env
  frontend/src/Pages/RugbyFixture.jsx
Due: frontend

update documentation
  docs/index.html
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
